table {
  width: 100%;
}

.search-div{
  margin:10px;
  padding:10px;
}

.search-form-field{
  width:80%;
  margin-left:10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.search-form-field div.mat-form-field-underline{
  display:none;
}
